<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/include"></head>
<body>
<div th:replace="fragments/header"></div>
<div class="pt-4">
    <div class="w-full mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="object-cover rounded-tl-lg rounded-tr-lg"
             th:src="@{${product.image}}" />
        <div class="px-5 py-3 space-y-2">
            <h5 th:text="${product.name}" class="mb-1 text-xl font-medium text-gray-900 dark:text-white"></h5>
            <span th:text="${product.description}" class="text-sm text-gray-500 dark:text-gray-400"></span>
            <p class="space-x-2">
                <span th:text="|$${product.price}|" class="text-3xl font-bold text-gray-900 dark:text-white"></span>
            </p>
            <div class="flex pt-3 pb-2">
                <a th:href="|/addToCart/${product.id}|"
                   class="inline-flex items-center mr-1 px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                    Add to Cart
                </a>
                <a th:href="|/addToCart/${product.id}|"
                   class="inline-flex items-center mr-1 px-4 py-2 text-sm font-medium text-center btn-primary-filled border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                    Buy Now
                </a>

                <a href="#" title="Add to Favorites"
                   class="text-2xl text-gray-300 hover:text-red-500 duration-300 ml-auto">&hearts;</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>