<!--
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--  <link rel="stylesheet" href="style.css" />-->
  <title>User Profile</title>
</head>

<body>
<h1>
  User Info
</h1>

<form action="#" th:action="@{/updateProfile}" th:object="${user}" method="post">
  <table id = "info-table2">
    <tr>
      <td>Username</td>
      <td>
        <input type="text" th:field="*{username}" readonly>
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>
        <input type="text" th:field="*{firstName}">
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <input type="text" th:field="*{lastName}">
      </td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>
        <input type="text" th:field="*{mobile}">
      </td>
    </tr>
    <tr>
      <td>Country</td>
      <td>
        <input type="text" th:field="*{country}" readonly>
      </td>
    </tr>
  </table>
  <input type="submit" value="Submit" />
</form>
<a href="/">Go back to home page</a>
<div th:if="${success}" class="alert alert-success">
  <p>Form updated successfully!</p>
</div>
</body>

</html>