<!DOCTYPE html>
<head>
  <meta charset="UTF-8" >
  <title>App</title>
</head>
<h1>Welcome to Springboot KFone App</h1>
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<a th:if="${!isAuthenticated}" href="/login"
   class="ml-2 text-md font-medium text-blue-600 dark:text-blue-500 hover:underline">
  Login/Signup
</a>
<div th:if="${isAuthenticated}">
  <div>
    You are successfully logged with email address:
    <span style="font-weight:bold" th:text="${userName}"></span>
    <p> </p>
  </div>
  <div>
    Claims found in the ID token
    <div><span style="font-weight:bold" th:text="${IDTokenClaims}"></span></div>
    <p> </p>
  </div>
  <div>
    Access token:
    <span style="font-weight:bold" th:text="${accessToken}"></span>
    <p> </p>
  </div>
  <div>
    Response from SCIM API:
    <div><span style="font-weight:bold" th:text="${scimMe}"></span></div>
    <p> </p>
  </div>
  <div>
    Secured resource server API call response code:
    <span style="font-weight:bold" th:text="${resourceServerAPIStatusCode}"></span>
    <p> </p>
  </div>
  <form th:if="${isAuthenticated}" method="post" th:action="@{/logout}" class="navbar-form navbar-right">
    <button id="logout-button" type="submit"
            class="ml-2 text-md font-medium text-blue-600 dark:text-blue-500 hover:underline">
      Logout
    </button>
  </form>
</div>